*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right bottom,
    rgba(0, 89, 255, 0.836),
    rgba(255, 17, 0, 0.938)
  );
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 auto;
  font-family: "Ubuntu Mono", monospace;
  color: wheat;
}

.header {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.description {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.btn {
  margin-top: 2rem;
  padding: 1em;
  font-family: "Ubuntu Mono", monospace;
  cursor: pointer;
}

.blue {
  background-color: rgba(0, 140, 255, 0.6);
}

.red {
  background-color: rgba(255, 17, 0, 0.6);
}

.coin-image {
  width: 60%;
  height: 60%;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .coin-image {
    width: 70%;
    height: 70%;
  }

  html {
    font-size: 31.25%;
  }
}

.removeDisplay {
  display: none;
}

.counter {
  font-size: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.counter--1,
.counter--2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blue-count,
.red-count {
  font-size: 3rem;
}

.cards {
  position: relative;
  height: 30rem;
  width: 30rem;
  text-align: center;
  perspective: 150rem;
}

.cards__side {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.8s ease;
}

.cards__side--front {
  background-color: transparent;
}

.cards__side--back {
  transform: rotateX(180deg);
}

.cards .cards__side--front-flip {
  transform: rotateX(-180deg);
}

.cards .cards__side--back-flip {
  transform: rotateX(0);
}
